.putcenre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:90%;
    max-height:70%;
    margin: 2% 20%;
}
.weather{
    display:flex;
    width:850px;
    border-radius:13px;
   
}
.place{
    width:150px;
    height:200px;
    border-radius:15px;
    background: black;
}
.place img{
    width:150px;
    height:200px;
    border-radius:15px;
object-fit: cover;
}



.input-field {
  
  font-size: 30px ;
  font-weight: bold;
  flex: 1;
  padding: 0% 3%;
  max-width: 150px;
  margin-right: 10%;
  
  
}

.input-field:focus {
  border-color: #007bff; /* Example focus border color */
  outline: none; /* Remove default outline */
}
.head {
  
  margin-left: 0%;
}
.h{
 margin-left: -10%;
}

.wea, p {
  margin-left: 5px; /* Remove default margins */
}

.hourly{
    display:flex;
    flex-direction: column;
gap:.5em;
}
.bo{
    padding-bottom:0.6em;
    border-bottom:2px solid gray;
}
.mern{
    display:flex;
    gap:1.5em;
  
}
.boxr{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather-left{

    width:510px;
    display:flex;
    padding:0.8em;
    flex-direction: column;
    gap:1em;
    justify-content: center;
}
.inp{
    align-self: center;
}
.mern9{
    gap:2em;
   
}
input[type='text']{
   

    font-family: 'hammersmith one';
    border: none;
    outline: none;

}
.icon{
    width:30px;
    height:30px;
    background:white;
    padding:0.1em;
    border:2px solid black;
}.wea{
    color: gray;
    font-family:"poppins";
     font-size: 25px;
    display: inline;
     
}
.head{
  display: flex;
  flex-direction: row;
}
.wea span{
    font-weight: bold;
}
.hous{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hous h1{
font-size:0.8rem;
}
.cloud{
    font-size:1.3rem;
}
.tempdet{
    display: flex;
    flex-direction: row-reverse;
}
.weather-right {
    flex: 1;
    padding: 0.8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-right .today {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .weather-right .today .wlogo {
    font-size: 10rem;
  }
  
  .weather-right h1 {
    font-family: 'hammersmith one';
    font-size: 0.9rem;
  }
  
  .weather-right .dare {
    font-family: 'hammersmith one';
    font-size: 0.8rem;
  }
  
  .weather-right .temp {
    font-size: 3rem;
    font-family: 'poppins';
    margin-top: 0px;
    margin: 8%;
  }
  
  
  .weather-right .placeNAME {
    font-family: 'hammersmith one';
    margin-top: -10px;
    font-size: 0.8rem;
  }
  
  .weather-right .tempdet {
    display: flex;
    gap: 1em;
  }
  
  .weather-right .boxL,
  .weather-right .boxr {
    display: flex;
    flex-direction: column;
  }
  
  .weather-right .boxwa {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: 'hammersmith one';
  }
  
  @media (max-width: 877px) {
    .weather-right {
      width: 100%;
    }
    .weather-right .tempdet {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .head{
      margin-left: 12%;
    }
    .line{
      display: none;
    }
    .weather{
      flex-direction: column;
      margin: 50% 50%;
      padding-left: 10%;
    }
    .input-field{
      max-width: 120px;
      font-size: 25px;
    }
    .boxL{
      margin-left: -30%;
      padding-right: 20%;
     
    }
  }
  
  @media (max-width: 539px) {
    .weather-right {
      width: 100%;
    }
    .weather-right .tempdet {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .head{
      margin-left: 12%;
    }
    .line{
      display: none;
    }
    .weather{
      flex-direction: column;
      margin: 50% 50%;
      padding-left: 10%;
    }
    .input-field{
      max-width: 120px;
      font-size: 25px;
    }
    .boxL{
      margin-left: -30%;
      padding-right: 20%;
     
    }}

@keyframes farmerMotion {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  .farmer-motion {
    animation: farmerMotion 3s infinite;
  }
  
  .input-container {
    border: none;
   
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .input-container input[type="text"]::placeholder {
    animation: blink 1s step-start infinite;
  }
 .h11{
  padding: 3%;
 } 
 